<%= form_with(model: [:admin, admin_news], local: true, class: 'form-group') do |form| %>
  <% if admin_news.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(admin_news.errors.count, "error") %> prohibited this news from being saved:</h4>
      <ul>
        <% admin_news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :published_at %>
    <%= form.datetime_field :published_at, class: 'form-control' %>
  </div>

  <div class="form-group form-check mt-3">
    <%= form.check_box :hidden, class: 'form-check-input' %>
    <%= form.label :hidden, class: 'form-check-label' %>
  </div>

  <div class="form-group mt-3">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control-file', accept: 'image/png,image/jpeg' %>
  </div>

  <div class="form-group mt-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
