<div id="<%= dom_id news %>">
  <p>
    <strong>Title:</strong>
    <%= news.title %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= news.published_at %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= news.hidden %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag news.image.url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= news.content %>
  </p>
</div>
