<div class="card mb-3" id="<%= dom_id news %>">
  <div class="card-body">
    <h5 class="card-title"><strong>Title:</strong> <%= news.title %></h5>
    <p class="card-text"><strong>Published at:</strong> <%= news.published_at %></p>
    <p class="card-text"><strong>Hidden:</strong> <%= news.hidden %></p>
    <p class="card-text"><strong>Content:</strong> <%= news.content %></p>
    <p><strong>Image:</strong> <%= image_tag news.image.url, class: 'img-fluid ', size: '400x400' if news.image&.url%></p>
    <div class="d-flex">
      <%= link_to "Show", admin_news_path(news), class: 'btn btn-info me-1' %>
      <%= link_to "Edit", edit_admin_news_path(news), class: 'btn btn-warning me-1' %>
      <%= button_to "Destroy this news", admin_news_path(news), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger me-1' %>
    </div>
  </div>
</div>
