<p style="color: green"><%= notice %></p>

<%= render @admin_news %>

<div>
  <%= link_to "Edit this news", edit_admin_news_path(@admin_news) %> |
  <%= link_to "Back to news", admin_news_index_path %>

  <%= button_to "Destroy this news", admin_news_path(@admin_news), method: :delete %>
</div>
